.sherly-page {
  height: 100%;
  width: 100%;
}

.sherly-wrapper {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  background: #f0f2f5;
  display: flex;
  align-items: flex-start;
  &-Sidebar {
    width: 200px;
  }
  &-content {
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
