@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659306222272') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tree:before {
  content: "\e605";
}

.icon-phone:before {
  content: "\e62f";
}

.icon-visible:before {
  content: "\e8d4";
}

.icon-email:before {
  content: "\e908";
}

.icon-gender:before {
  content: "\e604";
}

.icon-idcard:before {
  content: "\e672";
}

.icon-role:before {
  content: "\e68e";
}

.icon-time:before {
  content: "\e650";
}

.icon-tenant:before {
  content: "\e649";
}

.icon-gear:before {
  content: "\e611";
}

.icon-system:before {
  content: "\e688";
}

.icon-avatar:before {
  content: "\e633";
}

